<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>YourServices-Appointments</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
        .exit{
            background-color: red;
        }
        .exit:hover{
            background-color: darkred;
        }
    </style>
</head>

<body>
<h1 style="background-color:#1e90ff;">Hello <span th:text="${appointments[0].citizenName}"></span>! Your appointments!</h1> <!--an den exei appointments den tha doylepsei, starxidia mas reiiiiiii-->
<div class = "table table-responsive table-bordered table-striped">
    <table style="width:100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Place</th>
            <th>Status</th>
            <th>Cancel</th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${appointments.empty}">
                <td colspan="2"> No Appointments Made </td>
            </tr>
            <tr th:each="appointments : ${appointments}">
                <td><span th:text="${appointments.date}"> Date </span></td>
                <td><span th:text="${appointments.time}"> Time </span></td>
                <td><span th:text="${appointments.place}"> Place </span></td>
                <td><span th:text="${appointments.status}"> Status </span></td>
                <td><a th:href="@{/api/citizen/cancelAppointment/{id1}/{id2} (id1=${appointments.date}, id2=${appointments.time})}" class="btn"><i class="fa fa-calendar-times-o"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<button style="float: right;" class="exit">Exit<i class="fa fa-close"></i></button>

</body>
</html>